nav {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    padding: 2em 0;
}

ul {
    display: flex;
    list-style: none;
    text-transform: capitalize;
    text-decoration: none;
    font-size: .8em;
    align-items: center;

}

li a {
    text-decoration: none;
    margin-right: 32px;
    color: black;
}

.ico {
    width: 20px;
    height: 20px;
    background-color: rgb(193, 129, 253);
    margin-right: 29px;
}

