.linkHover:hover{
    color: #B984DF;
}

.article {
    border: 0.1px solid rgba(145, 128, 148, 0.164);
    padding: 0.9em 2em;
}

.article h6 {
    color: rgb(177, 85, 220);
}
.article p {
    margin-top: 8px;
    font-size: .8em;
    color: rgba(58, 58, 58, 0.514);
}
